.threadPostBody {
  background-color: #717171;
}

.replyBody {
  background-color: #525252;
}

.contentText {
  font-family: Courier New;
  color: #DDD;
  text-align: inline;
  display: inline;
  position: relative;
}

.errorMsg {
  background-color: #F00;
  color: #FFF;
}

.image {
  border-style: solid;
  border-width: 2px;
  border-radius: 5;
  width: 250px;
  height: auto;
}

.info {
  font-size: 8;
  color: #22A;
}

.greentext {
  color: #171;
}
